<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>UBp+zieJivDcItNmfAkX3j1zAuna1B/cQ85UF5PsBjQVSBFUmZTKoagg7ILaxpvHVpoXh1d6b0otTT3LmCSoOM8bGnDSuqpEOCrY6yAkwkM4/j+cYa4VxJg5X/0bew6OD5qEg8t6IsPNfvL54+ZzCmMCBgwdz9Qk7srjJFALgNU=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>Q/iR9yJBuEL6XOS/AaSD4OhZRuFucRWRDNY8ipG0YT1vuzQdbfg6xKdJ8I5hZS2R7JyDsAn0RcfT0bqPA6OKtrtcGvyitJLHkhODhszaSEMrPWxyZoO15cxRei1aKO2pLnyVynmRn200ejc5rgUU0L/99SMkWz1SaeezoQ8E7BsuraVJCMKsy5MCO+GiZUa81xP7DfDT9CzNY/73iFIYqmm+AkS6A4thPMN1AWZ7voayMwizwmQyOIbJpCmdMAUlxBP28HEeeGBtivj2n8Ut1itv5y04XLMLId2mYQnw2moN712pdl08Kgj9wptGAs6knqLUuIR79oC2+YPxKTBjcgmoegHBpiyofAQON/ZcKlh6UELmVxsfN49ftt0Rz4vgvTu47e+53IOlVY/pPlzgnqwEnoQi+4Ct20xkY4FhVG4RzxcR9IBjLLT2V1n0ch1de4iNNbx5xHtPFOXBp2jwqUTIbaKOozl5</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
</configuration>