<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>OH5BZL0Pgfz/f1mIcqx+uU4xOUJquyyAZ5twN7AVyzKkg3d/0AbDDY122MLM4q+Q4FGWfPjuAMwGlKn+YPT1iqtW4hZ8dj4m3WGEcX4jDy0LRca1MmncBMUe+XWKMHi6Y7Rj+usQ5dQ19Y/sDjU4WsBj1XNZforenj1z5Iw5j8g=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>QI/3rDQzyS5ooWtLbXDm24ijqJan30rxvuZMC7CRyH2BnHB8yCeZ1kbthRQXJC8/bhq2GgJQgiduGCKEbXZxuv4+ohG5P3MpPLLfq0XaSxjtCl+Dt3NtaMtATPwQC8LmRtRM1o/XtOU6l9hXUcPPRKbJR+jSPHyKqS4OCFNZ7UAvAMT724+9mnRi3HkS5AMCjL4XHMolV61jSpQeZctEbxdT/VW6AcDIiQkdJZ71iA0dCl9WjAM9xwfKHuCWmu9xl/TWUjCaskEPSiWTG4xiyE3WhUGRwa5XDc3zlSNR+WcD6jfQAn546kIdC1/U6PL04U6AaMW+syNB96x7xI6fFqjGusVRnnAgpO9TIHdNMBhZCkBkNuvGMbCJpKNJLt34H85VzGFWxqIwqXI27//Ankj2BhX5cKXuCMKwZynThaqqk+/UsVylwPu/pUrKywi/7D4AvIUD/8djr28HLTVb7amo8bZMf+x1pHpBUEfIN6k4nFPzH/G/mrNskGJTvAQugw2dpp6DPvtnWLOC7tQoLw==</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITest" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:58014/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITest" contract="TestUpdateParkingLotService.ITest" name="BasicHttpBinding_ITest" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="DBConnectionString" value="server=localhost;userid=root;database=databasename" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>